# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
# Your code here
import numpy as np
import pandas as pd
import re

car_insurance_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

car_insurance_df.head()

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_rows', 200)

In [ ]:
def strip_replace_ws (df):
    df.columns = df.columns.str.lower().str.replace(" ","_")
    return df

In [ ]:
def rename_columns (df, replacements):
    df.rename(columns=replacements, inplace=True)
    return df

In [ ]:
strip_replace_ws(car_insurance_df)

In [ ]:
column_renames = {"st":"state"}
rename_columns(car_insurance_df, column_renames)

In [ ]:
#car_insurance_df.columns = car_insurance_df.columns.str.lower().str.replace(" ","_")
#car_insurance_df = car_insurance_df.rename(columns={"st" : "state"})
#car_insurance_df

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
car_insurance_df.dtypes

In [ ]:
# Your code here
car_insurance_df.head()

In [ ]:
def replace_values(df, whole_replacements, substring_replacements):
    """
    df: pandas DataFrame
    replacements_dict: A dictionary where the keys are tuples of values to be replaced,
                       and the values are the new values they should be replaced with.
    """
    for key, value in whole_replacements.items():
        df.replace(key, value, inplace=True)

    for key, value in substring_replacements.items():
        if isinstance(key, str):
            for col in df.select_dtypes(include='object').columns:
                df[col] = df[col].str.replace(key, value, regex=True)
    return df

    # Update the DataFrame with the results of the apply
    for col in df.columns:
        df[col] = df[col].astype('object')
    
    return df

In [ ]:
whole_replacements = {"Male":"M",("female", "Femal"):"F","AZ":"Arizona","Cali":"California","WA":"Washington",("Sports Car", "Luxury SUV", "Luxury Car"):"Luxury", "Bachelors":"Bachelor"}
substring_replacements = {"%":""}
replace_values(car_insurance_df, whole_replacements, substring_replacements)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
car_insurance_df.head()

In [ ]:
car_insurance_df.dtypes

In [ ]:
def get_char(df, *column_names):
    for column_name in column_names:
        if column_name in df.columns:

            def get_complaints(value):
                if isinstance(value, str):
                    split_list = value.split("/")
                    return split_list[1]
                else:
                    return value

            df[column_name] = df[column_name].apply(get_complaints)
            return df

        else:
            raise KeyError(f"Column '{column_name}' not found in the DataFrame")



def recast(df, *column_names):
    for column_name in column_names:
        if column_name in df.columns:

            df[column_name] = pd.to_numeric(df[column_name], errors='coerce')
            df[column_name] = df[column_name].round(0).astype('Int64')
        else:
            raise KeyError(f"Column '{column_name}' not found in the DataFrame")

    return df

In [ ]:
get_char(car_insurance_df, 'number_of_open_complaints')

In [ ]:
recast(car_insurance_df, "customer_lifetime_value","income","monthly_premium_auto","total_claim_amount","number_of_open_complaints")

In [ ]:
car_insurance_df.dtypes

In [ ]:
print(car_insurance_df['number_of_open_complaints'].value_counts())

In [ ]:
print(type(car_insurance_df['number_of_open_complaints'].iloc[1]))
print(type(car_insurance_df['number_of_open_complaints'].iloc[2]))
print(type(car_insurance_df['number_of_open_complaints'].iloc[3]))
print(type(car_insurance_df['number_of_open_complaints'].iloc[4]))

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [ ]:
# Your code here
car_insurance_df.isnull().sum()

In [ ]:
car_insurance_df.head(20)

In [ ]:
def drop_na (df):
    """
    drops all rows where every value is a null-value
    """
    df.dropna(how = "all", inplace = True)
    return df


def fill_na_mean (df, *column_names):
    """
    Fills null-values in the specified columns with the integer value of the mean of the column.
    """
    for column_name in column_names:
            col_mean = int(df[column_name].mean())
            df[column_name] = df[column_name].fillna(col_mean)  
    return df

def fill_na_gender_ratio (df, *column_names):
    """
    Fills null values in the specified columns with 'M' and 'F'
    based on the ratio of existing values in the column.
    """

    for column_name in column_names:
        nan_indices = df[column_name][df[column_name].isna()].index
        nan_count = len(nan_indices)

        total_count = (df[column_name] == "M").sum() + (df[column_name] == "F").sum()
    
        m_ratio = (df[column_name] == "M").sum()/total_count
        f_ratio = (df[column_name] == "F").sum()/total_count

        nan_m = int(m_ratio*nan_count)
        nan_f = nan_count - nan_m

        fill_values = ['M'] * nan_m + ['F'] * nan_f
        np.random.shuffle(fill_values)
        
        fill_series = pd.Series(fill_values, index=nan_indices)
        
        df[column_name] = df[column_name].fillna(fill_series)
    
    return df

In [ ]:
drop_na(car_insurance_df)
car_insurance_df.tail(5)

In [ ]:
fill_na_mean(car_insurance_df, "customer_lifetime_value")

In [ ]:
fill_na_gender_ratio(car_insurance_df, "gender")

In [ ]:
car_insurance_df.isnull().sum()

In [ ]:
car_insurance_df["gender"].value_counts()

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
car_insurance_df.head()

In [ ]:
# Your code here
car_insurance_df.duplicated().sum()

In [ ]:
car_insurance_df["customer"].duplicated().sum()

In [ ]:
car_insurance_df["customer_lifetime_value"].duplicated().sum()

In [ ]:
dupes = car_insurance_df[car_insurance_df.duplicated(subset=['customer_lifetime_value', 'income',"monthly_premium_auto","state","policy_type","gender"], keep=False)]
dupes_sorted = dupes.sort_values(by='customer_lifetime_value')
dupes_sorted.head(20)

#the duplicates in dupes appear to be the same person that has been registered twice, 
#since all values except those in the "customer" column are identical. These will be dropped.

In [ ]:
def drop_duplicates(df, *column_names, keep='first'):
    """
    Drops duplicate rows from the DataFrame based on specified columns.
    """
    
    df = df.drop_duplicates(subset=column_names, keep=keep)
    
    return df

In [ ]:
car_insurance_df = drop_duplicates(car_insurance_df, 'customer_lifetime_value', 'income','monthly_premium_auto','state','policy_type','gender')

In [ ]:
dupes = car_insurance_df[car_insurance_df.duplicated(subset=['customer_lifetime_value', 'income',"monthly_premium_auto","state","policy_type","gender"], keep=False)]
dupes_sorted = dupes.sort_values(by='customer_lifetime_value')
dupes_sorted.head(20)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
car_insurance_df.head(20)

In [ ]:
import Henning_cleaning_functions as cf

In [ ]:
column_replacements = {"st":"state"}
whole_replacements = {"Male":"M",("female", "Femal"):"F","AZ":"Arizona","Cali":"California","WA":"Washington",("Sports Car", "Luxury SUV", "Luxury Car"):"Luxury", "Bachelors":"Bachelor"}
substring_replacements = {'%': ''}
char_columns = ['number_of_open_complaints']  # Replace with actual column names
recast_columns = ["customer_lifetime_value","income","monthly_premium_auto","total_claim_amount","number_of_open_complaints"]
mean_columns = ["customer_lifetime_value"]
gender_columns = ['gender']
dupe_columns = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'state', 'policy_type', 'gender']

In [ ]:

cleaned_df = cf.clean_dataset(car_insurance_df, column_replacements, whole_replacements, substring_replacements, char_columns, recast_columns, mean_columns, gender_columns, dupe_columns)

In [ ]:
cleaned_df.head(20)

In [ ]:
cleaned_df.isnull().sum()

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here